# Игнорирует все файлы и дирректории, главное совпадение имени!!!!!!!!!!!!!!!
#
# путь/в любом месте/Test1.txt
Test1.txt
# любая/папка/.Admin1
.Admin1
# Папку Test разрешаем
#-----------------------------------
# Игнорирует все файлы с расширением .log (не игнорирует my.log.tmp)
# # путь/в любом месте/любое имя.log (Test2.log)
*.log
#-----------------------------------
# Игнорирует все файлы .pyc или .pyo Test3 ([co] - один символ из нескольких)
*.py[co]
# ? - один обязательный произвольный символ (не игнорирует Test3.py)
*.py? # Игнорирует *.pyd
#-----------------------------------
# (не игнорирует data-2013*)
data-201[1-2]*
#
#============================================================================
#
# Путь от корня, если в начале есть /*/*
#(*/ - слэш в конце = папка, но не файл)
#
# Игнорирует папку build, но не файл build.*
# Папка не в корне, а где угодно
build/
# Папка в корне
/build2/
#----------------------------------
# От корня
/secret/key # == secret/key
#----------------------------------
# В папке doc все файлы html
doc/*.html
# В корне все файлы html
/*.html
#----------------------------------
# /*/ Звёздочка работает только для одного сегмента пути
var/www*/tmp
# Не для var/www/info/tmp !!!!!!!!!!
# var/www/tmp
# var/www-home/tmp
#----------------------------------
# * - одна любая папка
users/*/private
#----------------------------------
# Любое количество вложенности
# ** используется единыжды, и только для дирректорий
**/*.not # == *.not
#----------------------------------
# Дирректория. Любое количество вложенности
**/app/cache
# shop/app/cache
# main/front/app/cache
#----------------------------------
docs/**/*.html
# docs/module/generate.html
# docs/module/info/generate2.html
# NOT subdir/docs/my.html
#----------------------------------
# Игнорирует всё кроме чего-то == !
#.* # игнорирует всё что начинается с точки
#!.gitattributes # не игнорирует
#!.gitignore     # не игнорирует
#----------------------------------
# Игнорирует всё в папке install
/install/*
!install/packages.xml # не игнорирует
#/install/packages2.xml # игнорирует
#----------------------------------

